footer{background-color:#4c306b}
.tabletext1 {color:white}
.td1 {width: 30%}
.td2 {width: 20%}
.td3 {width: 20%}
.td4 {width: 20%}
.des1 {color:white}
.des2 {color:white}
.h12 {color:#4c306b}
hr {background-color:#4c306b}
.tb1 {background-color:#4c306b}
.tr1 {color:#4c306b}
.teamname {color: #4c306b;}
.head_title{font-family: "AweSomE JouRneY";font-size: xx-large;color: #4c306b;}
.header_content{color: #4c306b;}
p{color: #4c306b;}
.all{font-family: "Montserrat";}
.bg_col{background-color: #4c306b;}
.bg_col2{background-color: #e7e7e7;}
.bg_white{color: #ffffff;}
.t1x{color: #4c306b;}